*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Roboto', sans-serif; */

html{
    font-size: 62.5%;
     
}




/* footer */
.social-media{
    display: flex;
    justify-content: center;
    padding-top:3rem;
    padding-bottom:3rem;
}

.social-media a{
    width:2.5rem;
   margin-right:2rem;
}

.social-media img{
    width: 100%;
   
}

.copyright p{
    text-align: center;
}

.author{
    text-align: center;
}